.contact{
  width: 80%;
margin: 50px auto ;
min-height: 100vh;
align-items: center;


}

.contact-section{
  background-color: rgb(14, 3, 24);
  display: flex;
}

.contact-left{
  flex-basis: 60%;
  padding: 40px 60px;
}
.contact-right{
  flex-basis:60%;
  padding:40px;
  background-color: bisque;
  color: black;
  
}
h1{
  margin-bottom: 10px;
  
}
.contact p{

  margin-bottom: 40px;

}

.input-row{
  display: flex;
  justify-content: space-between;
  margin-bottom:20px;
}

.input-row .input-group{
  flex-basis: 45%;
}

input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #3a0c0c;
  padding-bottom: 5px;
}

textarea{
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;

}

label{
  margin-bottom:5px;
  display: block;
  color: #c8ff00;

  
}

button{
  background:#1c00b5;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top:20px;
  box-shadow: 0px 5px 15px 0 px rgba (28,0,181,0.3);

}

.contact-left h3{
  color:#1c00b5;
  font-weight: 600;
  margin-bottom: 30px;

}
.contact-right h3{

  font-weight: 600;
  margin-bottom: 30px;

}

tr td:first-child{
  padding-right: 20px;
}
tr td{
padding-top: 20px;

}

.location-img{

  height: 15px;
  width: 15px;
  margin-right: 7px;

}
tr td i{
  margin-right: 7px;
}